* {
  list-style: none;
}

.ColorCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ColorCard {
  width: 300px;
  padding: 2%;
  margin: 1%;
  border-radius: 20px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 5%;
  margin: 1%;
}

.button__delete {
  font-family: "bianzhidai_noBG-Base";
}

.button__edit {
  font-family: "bianzhidai_noBG-Base";
}

.button__cancel {
  font-family: "bianzhidai_noBG-Base";
}

.hex {
  font-family: "bianzhidai_noBG-Cloud";
  font-size: 2em;
  width: fit-content;
}
